<div class="container">
    <div class="select-btn" [class.open]="isMenuOpened" (click)="toggleMenu()">
        <span class="btn-text">{{ menuTitle }}</span>
        <span class="arrow-dwn">
            <i class="fa-solid fa-chevron-down"></i>
        </span>
    </div>
    <ul class="list-items">
        <li class="item" *ngFor="let generation of generations" [class.checked]="selectedItems(generation)" (click)="existingItems(generation)">
            <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text">{{ generation }}</span>
        </li>
    </ul>
</div>
<div class="closed-filter" *ngIf="isMenuOpened" (click)="toggleMenu()"></div>