.container
    position: relative
    max-width: 200px
    min-width: 200px
    width: 100%
    border-radius: 8px
    margin: 10px
    z-index: 2

.select-btn
    display: flex
    height: 40px
    align-items: center
    justify-content: space-between
    padding: 0 16px
    cursor: pointer
    border-radius: 8px
    background: linear-gradient(to top, #79e4a6, #1bc296)
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)

.select-btn .btn-text
    font-size: 18px
    font-weight: 400
    color: #3e3e3e

.select-btn .arrow-dwn
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    color: #fff
    font-size: 14px
    height: 21px
    width: 21px
    background: #6e93f7
    transition: 0.3s

.select-btn.open .arrow-dwn
    transform: rotate(-180deg)
    
.list-items
    position: absolute
    box-sizing: border-box
    margin-top: 5px
    border-radius: 8px
    padding: 8px
    width: 100%
    background: linear-gradient(to top, #79e4a6, #1bc296)
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1)
    display: none

.select-btn.open ~ .list-items
    display: block
    
.list-items .item
    display: flex
    align-items: center
    list-style: none
    height: 50px
    cursor: pointer
    transition: 0.3s
    padding: 0 16px 0 0px
    border-radius: 8px
    display: flex
    justify-content: space-evenly

.list-items .item:hover
    background-color: #e7edfe

.item .item-text
    font-size: 18px
    font-weight: 400
    color: #3e3e3e

.item .checkbox
    display: flex
    align-items: center
    justify-content: center
    height: 16px
    width: 16px
    border-radius: 4px
    margin-right: 12px
    border: 1.5px solid #e2e2e2
    transition: all 0.3s

.item.checked .checkbox
    background-color: #4070f4
    border-color: #4070f4

.checkbox .check-icon
    color: #fff
    font-size: 11px
    transition: all 0.3s
    transform: scale(0)

.item.checked .check-icon
    transform: scale(1)

.closed-filter
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 1