<header class="pokemon-header">
    <div class="pokemon-header__logo">
        <img src="../../../assets/img/logo.png" alt="Pokémon logo">
    </div>
    <div class="pokemon-header__pokemons">
        <img src="../../../assets/img/pokeball.png" alt="Pokeball">
        <img src="../../../assets/img/pikachu.png" alt="Pikachu">
        <img src="../../../assets/img/bulbasaur.png" alt="Bulbasaur">
        <img src="../../../assets/img/charmander.png" alt="Charmander">
        <img src="../../../assets/img/squirtle.png" alt="Squirtle">
        <img src="../../../assets/img/pokeball.png" alt="Pokeball">
    </div>
    <div class="pokemon-header__search-wrapper">
        <input type="text" class="pokemon-header__search-input" id="search-input" [class.clicked]="searchClicked" placeholder="Name or number">
        <a href="#" class="pokemon-header__search-btn" (click)="openSearch()">
            <img class="pokemon-header__search-icon" [class.btn-icon]="searchClicked" src="../../../assets/img/search-icon.svg" alt="Lupa">
        </a>
    </div>
    <div class="closed-search" *ngIf="searchClicked" (click)="openSearch()"></div>
</header>
