<header class="pokemon-header">
    <div class="pokemon-header__logo">
        <img src="../../../assets/img/logo.png" alt="Pokémon logo">
    </div>
    <div class="pokemon-header__search-wrapper">
        <input type="text" class="pokemon-header__search-input" id="search-input" [class.clicked]="searchClicked" placeholder="Name or number">
        <a href="#" class="pokemon-header__search-btn" (click)="openSearch()">
            <img class="pokemon-header__search-icon" [class.btn-icon]="searchClicked" src="../../../assets/img/search-icon.svg" alt="Lupa">
        </a>
    </div>
</header>
