.pokemon-card
    border-radius: 10px
    display: flex
    flex-direction: column
    font-family: "Signika", arial, sans-serif
    margin: 0 5px 50px
    padding: 10px

    &__image
        background:#F2F2F2
        border-radius: 105px

    &__number,
    &__name
        padding: 0 10px

    &__number
        color: #ffffff
        font-size: 80%
        padding-top: 2px

    &__name
        color: #313131
        font-size: 145%
        margin: 0.5em 0 5px
        text-transform: capitalize

    &__types
        display: flex
    
    &__color
        &--grasspoison
            background: linear-gradient(50deg, #8cc7ac 50%, #caa2d4 50%)
        
        &--grass
            background-color: #8cc7ac
        
        &--fire
            background-color: #ec9f5c

        &--fireflying
            background: linear-gradient(50deg, #ec9f5c 50%, #4d95a4 50%)
        
        &--water
            background-color: #90c6d4

        &--bug
            background-color: #aece76

        &--bugflying
            background: linear-gradient(50deg, #aece76 50%, #4d95a4 50%)

        &--bugpoison
            background: linear-gradient(50deg, #aece76 50%, #caa2d4 50%)
        
        &--normal
            background-color: #c2c2c2

        &--normalflying
            background: linear-gradient(50deg, #c2c2c2 50%, #4d95a4 50%)

        &--poison
            background-color: #caa2d4

        &--electric
            background-color: #ffdd77
        
        &--ground
            background-color: #b59d68
        
        &--poisonground
            background: linear-gradient(50deg, #caa2d4 50%, #b59d68 50%)

        &--fairy
            background-color: #f7cfd3
        
        &--normalfairy
            background: linear-gradient(50deg, #c2c2c2 50%, #f7cfd3 50%)

        &--poisonflying
            background: linear-gradient(50deg, #caa2d4 50%, #4d95a4 50%)
        
        &--buggrass
            background: linear-gradient(50deg, #aece76 50%, #8cc7ac 50%)
        
        &--fighting
            background-color: #ab5622

        &--waterfighting
            background: linear-gradient(50deg, #90c6d4 50%, #ab5622 50%)

        &--psychic
            background-color: #f1acd5
        
        &--waterpoison
            background: linear-gradient(50deg, #90c6d4 50%, #caa2d4 50%)
        
        &--rockground
            background: linear-gradient(50deg, #9a9a9a 50%, #b59d68 50%)
        
        &--groundrock
            background: linear-gradient(50deg, #b59d68 50%, #9a9a9a 50%)
        
        &--waterpsychic
            background: linear-gradient(50deg, #90c6d4 50%, #f1acd5 50%)

        &--electricsteel
            background: linear-gradient(50deg, #ffdd77 50%, #b9cdce 50%)

        &--waterice
            background: linear-gradient(50deg, #90c6d4 50%, #7de1ff 50%)

        &--ghostpoison
            background: linear-gradient(50deg, #56407a 50%, #caa2d4 50%)
        
        &--grasspsychic
            background: linear-gradient(50deg, #8cc7ac 50%, #f1acd5 50%)
        
        &--psychicfairy
            background: linear-gradient(50deg, #f1acd5 50%, #f7cfd3 50%)

        &--icepsychic
            background: linear-gradient(50deg, #7de1ff 50%, #f1acd5 50%)
        
        &--waterflying
            background: linear-gradient(50deg, #90c6d4 50%, #4d95a4 50%)
        
        &--rockwater
            background: linear-gradient(50deg, #9a9a9a 50%, #90c6d4 50%)
        
        &--rockflying
            background: linear-gradient(50deg, #9a9a9a 50%, #4d95a4 50%)

        &--iceflying
            background: linear-gradient(50deg, #7de1ff 50%, #4d95a4 50%)
        
        &--electricflying
            background: linear-gradient(50deg, #ffdd77 50%, #4d95a4 50%)
        
        &--dragon
            background-color: #e27966
        
        &--dragonflying
            background: linear-gradient(50deg, #e27966 50%, #4d95a4 50%)

            

    &__type
        border-radius: 5px
        font-size: 11px
        line-height: 18px
        margin: 0 10px
        max-width: 110px
        text-transform: none
        text-align: center
        text-transform: capitalize
        width: 38.4375%
        box-shadow: 0 1px 6px 0 #171717

        &--bug
            background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%)
            background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%)
            background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%)
            background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%)
            background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%)
            background-color: #729f3f
            color: #fff

        &--dark
            background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%)
            background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%)
            background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%)
            background: -o-linear-gradient(180deg, #707070 50%, #707070 50%)
            background: linear-gradient(180deg, #707070 50%, #707070 50%)
            background-color: #707070
            color: #fff

        &--dragon
            background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)
            background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)
            background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)
            background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)
            background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%)
            background-color: #53a4cf
            color: #fff

        &--electric
            background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%)
            background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%)
            background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%)
            background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%)
            background: linear-gradient(180deg, #eed535 50%, #eed535 50%)
            background-color: #eed535
            color: #212121

        &--fairy
            background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%)
            background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%)
            background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%)
            background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%)
            background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%)
            background-color: #fdb9e9
            color: #212121

        &--fighting
            background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%)
            background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%)
            background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%)
            background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%)
            background: linear-gradient(180deg, #d56723 50%, #d56723 50%)
            background-color: #d56723
            color: #fff

        &--fire
            background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%)
            background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%)
            background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%)
            background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%)
            background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%)
            background-color: #fd7d24
            color: #fff

        &--flying
            background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)
            background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)
            background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)
            background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)
            background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)
            background-color: #3dc7ef
            color: #212121

        &--ghost
            background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%)
            background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%)
            background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%)
            background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%)
            background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%)
            background-color: #7b62a3
            color: #fff

        &--grass
            background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%)
            background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%)
            background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%)
            background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%)
            background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%)
            background-color: #9bcc50
            color: #212121

        &--ground
            background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%)
            background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%)
            background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%)
            background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%)
            background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%)
            background-color: #f7de3f
            color: #212121

        &--ice
            background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%)
            background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%)
            background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%)
            background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%)
            background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%)
            background-color: #51c4e7
            color: #212121

        &--normal
            background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%)
            background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%)
            background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%)
            background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%)
            background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%)
            background-color: #a4acaf
            color: #212121

        &--poison
            background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%)
            background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%)
            background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%)
            background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%)
            background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%)
            background-color: #b97fc9
            color: #fff

        &--psychic
            background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%)
            background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%)
            background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%)
            background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%)
            background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%)
            background-color: #f366b9
            color: #fff

        &--rock
            background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%)
            background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%)
            background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%)
            background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%)
            background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%)
            background-color: #a38c21
            color: #fff

        &--steel
            background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%)
            background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%)
            background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%)
            background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%)
            background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%)
            background-color: #9eb7b8
            color: #212121

        &--water
            background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%)
            background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%)
            background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%)
            background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%)
            background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%)
            background-color: #4592c4
            color: #fff

.pokemon-card:hover
    box-shadow: 0 1px 6px 0 #171717
    border-color: rgba(223,225,229,0)