<div class="pokemon-card" *ngIf="pokemon">
    <div class="pokemon-card__image">
        <!-- <img [src]="pokemon.image" alt="Pokemon Image"> -->
        <img [src]="getPokemonImage(pokemon)" alt="Pokemon Image">
    </div>

    <div class="pokemon-card__number">
        Nº {{ getPokemonNumber(pokemon) }}
    </div>
<!-- Block Element Modifier (BEM)
        Define que precisamos ter um bloco que tenha significado por si só, um elemento que tenha significado somente dentro desse bloco e um modificador em caso de elementos que vao ter modificaçoes. Entao no nosso caso o bloco é o pokemon-card e o elemento que tem significado dentro do nosso bloco é o name -->
    <div class="pokemon-card__name"> 
        {{ pokemon.name }}
    </div>

    <div class="pokemon-card__types">
        <!-- Agora vamos adicionar o modificador
                Repetimos o nome do bloco e do elemento e colocamos o sinal de menos (-) duas vezes e o nome do modificador que queremos. No nosso caso será grass e poison-->
        <div class="pokemon-card__type" 
            *ngFor="let type of pokemon.types"
            [class]="'pokemon-card__type--'.concat(type.toLocaleLowerCase())">
            {{ type }}
        </div>
    </div>
</div>